.empty {
  display: none;
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 6;
}

.modal-container {
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 7;
  min-width: 30rem;
  max-width: 50rem;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;

  overflow: hidden;
}

.modal_header-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0.6rem 2.4rem;

  background-color: #f08c00;
}

.icon {
  color: #333;
}

.modal_content-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2.4rem 2.4rem;
}

.modal_content-container > p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
}

.modal_btn-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.6rem 2.4rem 1.8rem 2.4rem;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 0.8rem 1.6rem;

  font-size: 1.4rem;
  color: rgb(250, 250, 250);

  transition: all 0.3s;
}

.decline-btn {
  background-color: #c92a2a;
}

.decline-btn:hover {
  background-color: #e03131;
}

.accept-btn {
  background-color: #2b8a3e;
}

.accept-btn:hover {
  background-color: #2f9e44;
}
