.nav-container {
  max-width: 100vw;
  height: 8.4rem;
  /* background-color: #10316b; */
  background-image: linear-gradient(45deg, #10316b, #0e2c60);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;

  padding: 0 1rem;

  /* position: sticky;
  top: 0;

  z-index: 1; */
}

/* .logo-input-container {
  display: flex;

  height: 100%;
  flex-basis: 40%;
  min-width: 65rem;

  align-items: center;
  justify-content: flex-start;
  gap: 3.6rem;
} */

.logo-container {
  height: 100%;
  cursor: pointer;
}

.logo-container img {
  width: auto;
  height: 100%;
}

.search_bar-container {
  /* flex-grow: 1; */
  width: 35%;

  transform: translateX(-2.4rem);

  position: relative;
}

.search_bar-input {
  width: 100%;
  height: 60%;

  padding: 10px 10px;
  background-color: #fff;

  font-size: 1.4rem;
  font-style: inherit;
  /* color: white; */

  border-radius: 10px;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search_bar-input::placeholder {
  color: #aaa;
}

.search_bar-input:focus {
  outline: none;
}

.icon-container_sticky {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(100%, 0);

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #eee;
  border-radius: 10px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  padding: 0 1.2rem 0 1.2rem;
  cursor: pointer;

  transition: all 0.1s;
}

.icon-container_sticky:hover {
  background-color: #ddd;
}

.icon_search {
  height: 60%;
  width: auto;
  color: black;
}

.nav_links-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  list-style: none;

  margin: 0;
  padding-right: 4.8rem;
  gap: 2.4rem;
}

.nav_link:link,
.nav_link:active,
.nav_link:visited {
  display: block;

  padding: 1rem 2rem;
  border-radius: 4px;

  background-color: #405a89;

  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #eee;

  transition: all 0.3s;
}

.nav_link__signup:link,
.nav_link__signup:active,
.nav_link__signup:visited {
  background-color: #7083a6;
}

.nav_link:hover {
  color: #ddd;
  background-color: #586f97;
}

.user_img-container {
  height: 100%;

  padding: 1.4rem 0;
}

.user_img-container > img {
  height: 100%;
  width: auto;

  border-radius: 50%;

  cursor: pointer;
}

.user_link:link,
.user_link:active,
.user_link:visited {
  color: rgb(250, 250, 250);
  text-decoration: none;
  font-size: 2rem;

  margin-right: 1.6rem;
}

.user_link:hover {
  color: #ddd;
}

.user_link-container {
  height: 100%;
  padding: 2rem 3.6rem 2rem 1.2rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.user_link-container img {
  height: 100%;
  width: auto;

  border-radius: 50%;
}

.user_link:link,
.user_link:active,
.user_link:visited {
  color: rgb(250, 250, 250);
  text-decoration: none;
  font-size: 2rem;

  margin-right: 1.6rem;
}

.user_link:hover {
  color: #ddd;
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);

  z-index: 9;
}

.backdrop-open {
  animation: openBackdrop 0.4s linear forwards;
}

.backdrop-close {
  animation: closeBackdrop 0.4s linear forwards;
}

@keyframes openBackdrop {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, 0.85);
  }
}

@keyframes closeBackdrop {
  from {
    background-color: rgba(0, 0, 0, 0.85);
  }

  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

.menu_modal-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);

  width: 30rem;
  height: 100vh;
}

.modal-open {
  animation: openModal 0.4s ease-in-out forwards;
}

.modal-close {
  animation: closeModal 0.4s ease-in-out forwards;
}

@keyframes openModal {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes closeModal {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.menu_icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.icon-wrapper {
  background-color: #405a89;
  border-radius: 4px;
  padding: 0.8rem 1.2rem;

  cursor: pointer;

  transition: all 0.3s;
}

.icon-wrapper .icon_setting {
  transform: rotate(0);
  transition: all 0.5s;
}

.icon-wrapper:hover .icon_setting {
  /* transform: rotate(-90deg); */
}

.icon-wrapper:hover {
  background-color: #586f97;
}

.icon_setting {
  color: #eee;
}

.menu_modal__header-container {
  background-color: #10316b;

  padding: 1.2rem 2.4rem;
}

.menu_modal__header-container > p {
  font-size: 2.4rem;
  font-weight: 600;
  color: rgb(250, 250, 250);
}

.menu_modal__items-container {
  list-style: none;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu_modal__items-container > li {
  width: 100%;
}

.menu_modal__item {
  display: block;

  width: 100%;
  padding: 1.2rem 2.4rem;

  background-color: none;
  border: none;

  cursor: pointer;

  font-size: 1.8rem;
  color: #333;
  text-align: left;

  transition: all 0.3s;
}

.menu_modal__item:hover {
  background-color: #e7eaf0;
}

@media (max-width: 1250px) {
  .nav-container {
    gap: 3.6rem;
  }

  .search_bar-container {
    width: 25%;
  }
}

@media (max-width: 960px) {
  .user_link-container {
    display: none;
  }

  .nav_link:link,
  .nav_link:active,
  .nav_link:visited {
    display: none;
  }
}

@media (max-width: 750px) {
  .nav-container {
    height: 6.4rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-container img {
    height: 80%;
  }

  .search_bar-container {
    width: 35%;
  }

  .search_bar-input {
    height: 2rem;
  }

  .nav_links-container {
    padding-right: 1rem;
    gap: 1.8rem;
  }
}
@media (max-width: 500px) {
  .nav-container {
    height: 4.8rem;
  }

  .search_bar-input {
    height: 1.2rem;
  }

  .user_img-container {
    display: none;
  }

  .icon-wrapper {
    height: 3.6rem;
  }
}
