.main-container {
  max-width: 80rem;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.4rem;

  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.1);

  border-radius: 6px;
}

.background-container {
  max-width: 100vw;
  height: 100%;

  padding-top: 2.4rem;

  background-color: #cfd6e1;
}

.disable_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
