.editor-container {
  position: relative;

  width: 100%;

  box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.1);
}

.editor_submit-btn {
  position: absolute;
  bottom: 0;
  right: 0;

  transform: translateY(115%);

  cursor: pointer;
  background-color: #10316b;
  padding: 0.8rem 2.4rem;
  border-radius: 6px;

  font-size: 1.6rem;
  color: rgb(250, 250, 250);

  transition: all 0.3s;
}

.editor_submit-btn:hover {
  background-color: #28467a;
}

.editor-container .ck-editor__editable {
  /* height: calc(var(--container-height) - 4rem); */
  min-height: 20rem;

  font-size: 1.4rem;
  line-height: 2.4rem;
}

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}

.ck.ck-content ul {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal;
}
.ck.ck-content ol {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
  position: absolute !important;
}

@media (max-width: 600px) {
  .editor-container .ck-editor__editable {
    /* height: calc(var(--container-height) - 4rem); */
    min-height: 15rem;

    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media (max-width: 500px) {
  .editor_submit-btn {
    padding: 0.4rem 2rem;

    font-size: 1.4rem;
  }

  .editor-container .ck-editor__editable {
    /* height: calc(var(--container-height) - 4rem); */
    min-height: 15rem;

    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media (max-width: 400px) {
  .editor_submit-btn {
    padding: 0.2rem 1.2rem;

    font-size: 1.2rem;
  }

  .editor-container .ck-editor__editable {
    /* height: calc(var(--container-height) - 4rem); */
    min-height: 10rem;

    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}
